<head>
    <meta charset="UFT-8">
    <title>Carbon Footprint Calculator</title>
 </head>
 <body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/calculator">Calculator</a></li>
            </ul>
        </nav>>
    </header>
 </body>